@tailwind preflight;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");

button:focus {
  border: none;
  outline: none;
}

/* ProjectsPage */
.ProjectsPage {
  background-color: #f7f9fd;
  font-family: Source Sans Pro, sans-serif;
  min-width: 640px;
}

/* Components : Header */
.Header {
  margin-bottom: 60px;
  height: 124px;
  box-shadow: 0px -1px 4px rgba(0, 0, 0, 0.203436);
}
.Header-inner {
  padding-top: 12px;
  padding-bottom: 12px;
}
.Header-title {
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 0.8px;
  color: #424242;
}
.Header-logo {
  height: 32px;
  width: 32px;
  background-image: url(../assets/ThunkableBeaver.png);
  left: -16px;
}
/* Components : Header : ActionButton */
.ActionButton {
  background-color: #4a475f;
  width: 60px;
  height: 60px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
  top: -30px;
}
.ActionButton:hover {
  background-color: #ef5049;
}
.ActionButton-icon {
  background-image: url(../assets/PlusSign.svg);
}

.ActionButton-icon-on {
  transform: rotate(45deg);
}
.ActionButton-icon-on:hover {
  transform: rotate(-45deg);
}

/* ProjectsPage : ProjectsList */
.ProjectsList-border {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
/* ProjectsPage : ProjectsList : ProjectItem */
.ProjectItem {
  height: 70px;
  background-color: #fdfdfd;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-left: 24px;
  padding-right: 24px;
}
.ProjectItem-icon {
  width: 32px;
  height: 32px;
  margin-right: 20px;
}
.ProjectItem-icon-default {
  background-image: url(../assets/defaultProjectIcon_2x.png);
}
.ProjectItem-name-group {
  width: 160px;
}
.ProjectItem-name {
  font-weight: 600;
  line-height: 30px;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.7);
}
.ProjectItem-date {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.5);
}
/* ProjectsPage : ProjectsList : ProjectItem : ProjectButton */
.ProjectButton {
  width: 24px;
  height: 24px;
}
.ProjectButton-delete {
  background-image: url(../assets/DeleteIcon.svg);
  opacity: 0.3;
}
.ProjectButton-delete:hover {
  opacity: 0.9;
}
.ProjectButton-edit {
  background-image: url(../assets/EditIcon.svg);
  opacity: 0.3;
  margin-top: 3px;
}
.ProjectButton-edit:hover {
  opacity: 0.9;
}

/* ProjectsPage : ProjectsList : ProjectItem : DeleteProjectModal */
.DeleteProjectModal {
  padding-top: 147px;
  background: rgba(183, 181, 181, 0.14);
}
.DeleteProjectModal-inner {
  padding: 32px;
  padding-bottom: 23px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  width: 433px;
  height: 192px;
}
.DeleteProjectModal-text {
  margin-top: -5px;
  line-height: 30px;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.85);
}
.DeleteProjectModal-text-secondary {
  color: rgba(0, 0, 0, 0.5);
}
.DeleteProjectModal-button {
  margin-left: 5px;
  margin-right: 5px;
}
.DeleteProjectModal-icon {
  background-image: url(../assets/Question.svg);
  width: 22px;
  height: 22px;
  margin-right: 14px;
}
